In [1]:
import numpy as np
import sqlite3

In [2]:
conn = sqlite3.connect('test_db.sqlite')

In [3]:
c = conn.cursor()
c.execute("DROP TABLE IF EXISTS candidates")
c.execute("DROP TABLE IF EXISTS contributors")

In [4]:
c.execute("CREATE TABLE candidates ("
          "id INTEGER PRIMARY KEY NOT NULL, "
          "first_name TEXT, "
          "last_name TEXT, "
          "middle_name TEXT, "
          "party TEXT NOT NULL)")

In [5]:
c.execute("CREATE TABLE contributors ("
          "id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "
          "last_name TEXT, "
          "first_name TEXT, "
          "middle_name TEXT, "
          "street_1 TEXT, "
          "street_2 TEXT, "
          "city TEXT, "
          "state TEXT, " 
          "zip TEXT, "
          "amount INTEGER, "
          "date DATETIME, " 
          "candidate_id INTEGER NOT NULL, "
          "FOREIGN KEY(candidate_id) REFERENCES candidates(id))")

In [6]:
conn.commit()

In [17]:
with open ("candidates.txt") as candidates:
    next(candidates) # jump over the header
    for line in candidates.readlines():
        # print(line.strip().split('|'))
        cid, first_name, last_name, middle_name, party = line.strip().split('|')
        vals_to_insert = (int(cid), first_name, last_name, middle_name, party)
        c.execute("INSERT INTO candidates " 
                  "(id, first_name, last_name, middle_name, party)" 
                  "VALUES (?, ?, ?, ?, ?)", vals_to_insert)

In [ ]:
c.execute("INSERT INTO candidates " 
          "(id, first_name, last_name, middle_name, party)" 
          "VALUES (?, ?, ?, ?, ?)", 
          (33, "Joesph", "Biden", "D.", "D"))

In [ ]:
conn.commit()

In [18]:
for r in c.execute("SELECT * FROM candidates"):
    print(r)

(16, 'Mike', 'Huckabee', '', 'R')
(20, 'Barack', 'Obama', '', 'D')
(22, 'Rudolph', 'Giuliani', '', 'R')
(24, 'Mike', 'Gravel', '', 'D')
(26, 'John', 'Edwards', '', 'D')
(29, 'Bill', 'Richardson', '', 'D')
(30, 'Duncan', 'Hunter', '', 'R')
(31, 'Dennis', 'Kucinich', '', 'D')
(32, 'Ron', 'Paul', '', 'R')
(33, 'Joseph', 'Biden', '', 'D')
(34, 'Hillary', 'Clinton', 'R.', 'D')
(35, 'Mitt', 'Romney', '', 'R')
(36, 'Samuel', 'Brownback', '', 'R')
(37, 'John', 'McCain', '', 'R')
(38, 'Tom', 'Tancredo', '', 'R')
(39, 'Christopher', 'Dodd', 'J.', 'D')
(41, 'Fred', 'Thompson', 'D.', 'R')

In [2]:
import sqlite3
test_db = sqlite3.connect('testing.db')
cursor = test_db.cursor()

In [3]:
cursor.execute('''CREATE TABLE IF NOT EXISTS suppliers (
                  supplier_id INTEGER PRIMARY KEY, 
                  supplier_name TEXT NOT NULL, 
                  group_id INTEGER NOT NULL)''')

In [4]:
cursor.execute('''CREATE TABLE IF NOT EXISTS supplier_groups (
                  group_id INTEGER PRIMARY KEY, 
                  group_name TEXT NOT NULL)''')

In [5]:
cursor.execute('''DROP TABLE IF EXISTS suppliers''')

In [6]:
cursor.execute('''CREATE TABLE suppliers (
                  supplier_id INTEGER PRIMARY KEY,
                  supplier_name TEXT NOT NULL, 
                  group_id INTEGER NOT NULL, 
                  FOREIGN KEY (group_id) REFERENCES supplier_groups(group_id))''')

In [7]:
cursor.execute('''INSERT INTO suppliers (supplier_name, group_id) VALUES ('HP', 2)''')

In [8]:
cursor.execute('''INSERT INTO suppliers (supplier_name, group_id) VALUES ('ABC Inc.', 4)''')